<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" href="static/bootstrap/js/bootstrap.js"></script>
	<title>litmus</title>
</head>
<body style="margin-top: 40px">
	<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">
					Litmus
				</a>
				<ul class="nav">
					<li><a href="#">Link</a><li>
					<li><a href="#">Link</a><li>
				</ul>
			</div>
		</div>
	</div>
	</header>

	<app>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<!-- Sidebar content -->
				<h2>Sidebar</h2>
			</div>
			<div class="span10">
				<!-- Body content -->
				<h1>Welcome to Litmus</h1>
			</div>
		</div>
	</div>
	</app>

	<footer>
	</footer>
</body>
</html>
